<table border="0" cellpadding="0" th:fragment="unary (operator, operands)">
    <tr>
        <td style="vertical-align: middle;padding: 0;margin: 0;">
            <b style="color: purple">
                <i>
                    [[${operator.symbol}]]
                </i>
            </b>
        </td>
        <td style="vertical-align: middle;padding: 0;margin: 0;">
            <b th:if="${!(operands[0] instanceof T(math.lang.common.Operation)) || (operands[0] instanceof T(math.lang.common.Operation) && (operands[0].operands.length == 1)||operands[0].operator==T(math.lang.common.Operators).pow)}" style="color:indigo">
                (
            </b>
        </td>
        <td style="vertical-align: middle;padding: 0;margin: 0;">
            <div th:replace="operands/MainRouter.html :: route(operand=${operands[0]}, root=false)"></div>
        </td>
        <td style="vertical-align: middle;padding: 0;margin: 0;">
            <b  th:if="${!(operands[0] instanceof T(math.lang.common.Operation)) || (operands[0] instanceof T(math.lang.common.Operation) && (operands[0].operands.length == 1)||operands[0].operator==T(math.lang.common.Operators).pow)}" style=\"color:indigo\">
                )
            </b>
        </td>
    </tr>
</table>


<table border="0" cellpadding="0" th:fragment="divide (operator, operands)">
    <tr>
        <td style="vertical-align: middle;padding: 0;margin: 0;">
            <center>
                <div th:replace="operands/MainRouter.html :: route(operand=${operands[0]}, root=false)"></div>
            </center>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: middle;padding: 0;margin: 0;">
            <hr style="height: 2px; padding: 0;margin: 0; color: black;"/>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: middle;padding: 0;margin: 0;">
            <center>
                <div th:replace="operands/MainRouter.html :: route(operand=${operands[1]}, root=false)"></div>
            </center>
        </td>
    </tr>
</table>


<table border="0" cellpadding="0" th:fragment="power (operator, operands)">
    <tr>
        <td th:if="${operands[0] instanceof T(math.lang.common.Operation)}" style="vertical-align: middle;padding: 0;margin: 0;">
            <b>(</b>
        </td>
        <td style="vertical-align: middle;padding: 0;margin: 0;">
            <div th:replace="operands/MainRouter.html :: route(operand=${operands[0]}, root=false)"></div>
        </td>
        <td th:if="${operands[0] instanceof T(math.lang.common.Operation)}" style="vertical-align: middle;padding: 0;margin: 0;">
            <b>)</b>
        </td>
        <td style="vertical-align: middle;padding: 0;margin: 0;">
            <sup>
                <div th:replace="operands/MainRouter.html :: route(operand=${operands[1]}, root=false)"></div>
            </sup>
        </td>
    </tr>
</table>


<table border="0" cellpadding="0" th:fragment="binary (operator, operands, root)">
    <tr>
        <td th:if="${!root && (!(operands[0] instanceof T(math.lang.common.Operation)) || (operands[0] instanceof T(math.lang.common.Operation) && operands[0].operands.length == 1))}" style="vertical-align: middle;padding: 0;margin: 0;">
            <b style="color:indigo">
                (
            </b>
        </td>
        <div th:each="o, stat: ${operands}" th:remove="tag">
            <td th:if="${stat.index>0}" style="vertical-align: middle;padding: 0;margin: 0;">
                <b style="color:indigo">
                    [[${operator== T(math.lang.common.Operators).mul ? "×" : operator.symbol}]]
                </b>
            </td>
            <td style="vertical-align: middle;padding: 0;margin: 0;">
                <div th:replace="operands/MainRouter.html :: route(operand=${o}, root=false)"></div>
            </td>
        </div>
        <td th:if="${!root && (!(operands[0] instanceof T(math.lang.common.Operation)) || (operands[0] instanceof T(math.lang.common.Operation) && operands[0].operands.length == 1))}" style="vertical-align: middle;padding: 0;margin: 0;">
            <b style="color:indigo">
                )
            </b>
        </td>
    </tr>
</table>


<i style="color:maroon" th:fragment="constant (lit, name)">
    [[${lit==null ? name : lit}]]
</i>


<b th:fragment="variable (name, index)">
    <i style="color:green" th:if="${name!=null}">
        [[${name}]]
        <sub th:if="${index!=null}">
            [[${index}]]
        </sub>
    </i>
</b>


<div th:fragment="function (name, index)">
    <b>
        <i style="color:green">
            $nam
            <sub>
                $idx
            </sub>
        </i>
    </b>
    <b style="color:indigo">
        (x)
    </b>
    <b>x</b>
    <b style="color:indigo">
        )
    </b>
</div>


<table border="0" cellpadding="0" th:fragment="differentiate (operand, function)">
    <tr>
        <td style="vertical-align: middle;padding: 0;margin: 0;">
            <b style="color: darkred">
                d
            </b>
        </td>
        <td th:if="${operand!=null || function !=null}" rowspan="3" style="vertical-align: middle;padding: 0;margin: 0;">
            <b style="color:indigo">
                (
            </b>
        </td>
        <td th:if="${operand!=null}" rowspan="3" style="vertical-align: middle;padding: 0;margin: 0;">
            <div th:replace="operands/MainRouter.html :: route(operand=${operand}, root=false)"></div>
        </td>
        <td th:if="${operand==null && function !=null}" rowspan="3" style="vertical-align: middle;padding: 0;margin: 0;">
            <div th:replace="operands/MainRouter.html :: route(operand=${function}, root=false)"></div>
        </td>
        <td th:if="${operand!=null || function !=null}"  rowspan="3" style="vertical-align: middle;padding: 0;margin: 0;">
            <b style="color:indigo">
                )
            </b>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: middle;padding: 0;margin: 0;">
            <hr style="height: 2px; padding: 0;margin: 0; color: black;"/>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: middle;padding: 0;margin: 0;">
            <b style="color: darkred">
                dx
            </b>
        </td>
    </tr>
</table>

<b style="color:maroon"  th:fragment="numeric (operand, function)">
    ${obj}
</b>