<div th:fragment="route(operand, root)"  th:remove="tag">
    <div th:if="${operand instanceof T(math.lang.common.Operation) && operand.operands.length==1}"
         th:remove="tag">
        <div
                th:replace="operands/Fragments :: unary(operator=${operand.operator}, operands=${operand.operands})"
                th:remove="tag">
        </div>

    </div>

    <div th:if="${operand instanceof T(math.lang.common.Operation) && operand.operator.name()=='div'}"
         th:remove="tag">
        <div
                th:replace="operands/Fragments :: divide(operator=${operand.operator}, operands=${operand.operands})"
                 th:remove="tag">

        </div>

    </div>


    <div th:if="${operand instanceof T(math.lang.common.Operation) && operand.operator.name()=='pow'}"
         th:remove="tag">
        <div
                th:replace="operands/Fragments :: power(operator=${operand.operator}, operands=${operand.operands})"
                 th:remove="tag">

        </div>

    </div>


    <div th:if="${operand instanceof T(math.lang.common.Operation) && operand.operator.name()!='pow' && operand.operator.name()!='div' && operand.operands.length>1}"
         th:remove="tag">
        <div
                th:replace="operands/Fragments :: binary(operator=${operand.operator}, operands=${operand.operands}, root=${root!=null && root})"
                 th:remove="tag">

        </div>

    </div>


    <div th:if="${operand instanceof T(math.lang.common.Constant)}"
         th:remove="tag">
        <div
                th:replace="operands/Fragments :: constant(lit=${operand.lit}, name=${operand.name})"
                 th:remove="tag">

        </div>

    </div>


    <div th:if="${operand instanceof T(math.lang.common.Variable)}"
         th:remove="tag">
        <div
                th:replace="operands/Fragments :: variable(name=${operand.name}, index=${operand.index})"
                 th:remove="tag">

        </div>

    </div>


    <div th:if="${operand instanceof T(math.lang.common.Function)}"
         th:remove="tag">
        <div
                th:replace="operands/Fragments :: function(name=${operand.nam}, index=${operand.idx})"
                 th:remove="tag">

        </div>

    </div>

    <div th:if="${operand instanceof T(math.lang.common.Differentiate)}"
         th:remove="tag">
        <div
                th:replace="operands/Fragments :: differentiate(operand=${operand.operand}, function=${operand.function})"
                 th:remove="tag">

        </div>

    </div>


    <div th:if="${operand instanceof T(math.lang.common.IntegerLiteral) || operand instanceof T(math.lang.common.DecimalLiteral) }"
         th:remove="tag">
        <div
                th:replace="operands/Fragments :: numeric(obj=${operand.obj})"
                 th:remove="tag">

        </div>

    </div>
</div>