<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <script th:src="@{js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{js/bootstrap.bundle.min.js}"></script>

    <script>
        var url = "[[@{${#request.scheme}+'://'+${#request.serverName}+':'+${#request.serverPort}+${#request.contextPath}+'/diffHtml'}]]"
        function load(elem, json, url, succCallBack, errCallBack) {
            $(document).ready(function() {
                $.post(url,
                            json,
                            function (response, status) {


                            }
                    )
                    .done(function(response) {
                        if($(elem).html() !== response) {
                            $(elem).html(response)
                            if(!!succCallBack) {
                                succCallBack()
                            }
                        }
                    })
                    .fail(function() {
                        if(!!errCallBack) {
                            errCallBack()
                        }
                    })
            })
        }

        function loadHtml(elem, html) {
            $(document).ready(function() {
                $(elem).html(html);
            })
        }

        function onChange(e) {
            onReset()
            $(document).ready(function() {
                load("#table", {'formula': $('#formula').val()}, url, onSuccess, onError)
            })
        }

        function onError() {
            $("#success").hide()
            $("#error").show()
        }

        function onReset() {
            $("#success").hide()
            $("#error").hide()
        }

        function onSuccess() {
            if($("#table").html().indexOf("ERROR")>=0) {
                onError()
            } else {
                $("#success").show()
                $("#error").hide()
            }
        }

        $(document).ready(function() {
            onReset()
        })
    </script>
    <style>
        @font-face {
          font-family: 'Orbitron';
          src: url('font/Orbitron.ttf');
        }
    </style>
    <title>Differentiation Page</title>
</head>
<body style="font-family: 'Orbitron'; font-size: 32px">
<div id="display">

</div>
<center>
    <table>
        <tr>
            <td th:colspan="${columnCount}">
                <div class="btn-group">
                    <a th:each="t: ${types}" th:if="${t != type}" th:href="${'/calculator-'+t}" class="btn btn-primary">[[${t.text}]] Calculator</a>
                </div>
            </td>
        </tr>
        <tr th:each="buttonRow: ${buttons}">
            <td th:each="button: ${buttonRow} " th:if="${button.command!=null}" th:rowspan="${button.rowSpan}" th:colspan="${button.colSpan}">
                <div class="btn btn-primary btn-block">
                    [[${button.command.text}]]
                </div>
            </td>
        </tr>
    </table>
</center>
</body>
</html>