<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <script th:src="@{js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{js/bootstrap.bundle.min.js}"></script>

    <script>
        var url = "[[@{${#request.scheme}+'://'+${#request.serverName}+':'+${#request.serverPort}+${#request.contextPath}+'/calculator-'+${type}+'-result'}]]"
        var commandQueue = []
        var readingIndex = -1
        var processing = false

        function enqueue(command) {
            commandQueue.push(command)
        }

        function dequeue() {
            if(readingIndex >= commandQueue.length) {
                commandQueue = []
                readingIndex = -1
                return false
            } else {
                return commandQueue[++readingIndex]
            }
        }
        function apply(command) {
            enqueue(command)
            process()
        }

        function process() {
            if(!processing) {
                processing = true
                unitProcess()
            }
        }

        function unitProcess() {
            var currentCommand = dequeue()
            if(currentCommand) {
                $(document).ready(function() {
                    $.post(url,
                                {'command': currentCommand},
                                function (response, status) {


                                }
                        )
                        .done(function(response) {
                            $("#result").val(response.result)
                            unitProcess()
                        })
                        .fail(function() {
                            commandQueue = []
                            readingIndex = -1
                            processing = false
                        })
                })
            } else {
                commandQueue = []
                readingIndex = -1
                processing = false
            }

        }

        function loadHtml(elem, html) {
            $(document).ready(function() {
                $(elem).html(html);
            })
        }

        function onChange(e) {
            onReset()
            $(document).ready(function() {
                load("#table", {'formula': $('#formula').val()}, url, onSuccess, onError)
            })
        }

        function onError() {
            $("#success").hide()
            $("#error").show()
        }

        function onReset() {
            $("#success").hide()
            $("#error").hide()
        }

        function onSuccess() {
            if($("#table").html().indexOf("ERROR")>=0) {
                onError()
            } else {
                $("#success").show()
                $("#error").hide()
            }
        }

        $(document).ready(function() {
            onReset()
        })
    </script>
    <style>
        @font-face {
          font-family: 'Orbitron';
          src: url('font/Orbitron.ttf');
        }
    </style>
    <title>Differentiation Page</title>
</head>
<body style="font-family: 'Orbitron'; font-size: 32px">
<div class="input-group input-group-lg">
    <input type="text"
           class="form-control" th:id="result" th:name="result"
           th:value="${result}" placeholder="0"
           readonly="readonly" style="text-align: right"
           aria-label="Large">
</div>
<center>
    <table>
        <tr>
            <td th:colspan="${columnCount}">
                <table>
                    <tr>
                        <td th:width="${100/(types.length-1)+'%'}" th:each="t: ${types}"  th:if="${t != type}" >
                            <a  style="white-space: nowrap;" th:href="${'/calculator-'+t}" class="btn btn-primary btn-block cbb">[[${t.text}]] Calculator</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr th:each="buttonRow: ${buttons}">
            <td th:each="button: ${buttonRow} " th:width="${(100*button.colSpan)/columnCount+'%'}" th:if="${button.command!=null}" th:rowspan="${button.rowSpan}" th:colspan="${button.colSpan}">
                <div class="btn btn-primary btn-block" th:onclick="apply([[${button.command.name()}]])">
                    [[${button.command.text}]]
                </div>
            </td>
        </tr>
    </table>
</center>
</body>
</html>