<h5  th:if="${!results.isEmpty()}">
    Differentiation
</h5>
<table th:if="${!results.isEmpty()}" border="0">
    <tr>
        <td id="diff_formula" colspan="2">
            <script>
                load("#diff_formula", {'formula': '[[${formula}]]'}, '[[${#request.scheme + '://' + #request.serverName + ':' + #request.serverPort + #request.contextPath + '/diff'}]]')
            </script>
        </td>
    </tr>
    <tr th:each="result, stat :${results}">
        <td>
            <button class="btn btn-secondary" data-toggle="modal" th:onclick="modal[[${stat.count}]]()">Step details
                <script>
                    function modal[[${stat.count}]]() {
                        $('[[${'#modal_'+stat.count}]]').modal('toggle')
                    }
                </script>
            </button>
            <div class="modal fade" th:id="${'modal_'+stat.count}">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">
                                Step Details
                            </h4>
                            <button type="button" class="close" data-dismiss="modal">
                                &times;
                            </button>
                        </div>
                        <div class="modal-body">
                            <h5>Previous Step : </h5>
                            <div th:if="${stat.index == 0}" th:id="${'prevStep_'+stat.count}">
                                <script>
                                    load("[[${'#prevStep_'+stat.count}]]", {'formula': '[[${formula}]]'}, '[[${#request.scheme + '://' + #request.serverName + ':' + #request.serverPort + #request.contextPath + '/diff'}]]')
                                </script>
                            </div>
                            <span  th:if="${stat.index > 0}" th:id="${'prevStep_'+stat.count}">
                                 <script>
                                    load("[[${'#prevStep_'+stat.count}]]", {'formula': '[[${results.get(stat.index-1).operand}]]'}, '[[${#request.scheme + '://' + #request.serverName + ':' + #request.serverPort + #request.contextPath + '/html'}]]')
                                </script>
                            </span>

                            <br th:if="${!result.assumptions.isEmpty()}"/>

                            <h5 th:if="${!result.assumptions.isEmpty()}">Assumptions</h5>
                            <div th:each="assumption, astat: ${result.assumptions}">
                                <table border="0">
                                    <tr>
                                        <td th:id="${'assumption_'+astat.count+'_'+stat.count+'_0'}" style="vertical-align: middle;padding: 0;margin: 0;">
                                            <script>
                                                load("[[${'#assumption_'+astat.count+'_'+stat.count+'_0'}]]", {'formula': '[[${assumption.operands[0]}]]'}, '[[${#request.scheme + '://' + #request.serverName + ':' + #request.serverPort + #request.contextPath + '/html'}]]')
                                            </script>
                                        </td>
                                        <td style="vertical-align: middle;padding: 0;margin: 0;">=</td>
                                        <td th:id="${'assumption_'+astat.count+'_'+stat.count+'_1'}" style="vertical-align: middle;padding: 0;margin: 0;">
                                            <script>
                                                load("[[${'#assumption_'+astat.count+'_'+stat.count+'_1'}]]", {'formula': '[[${assumption.operands[1]}]]'}, '[[${#request.scheme + '://' + #request.serverName + ':' + #request.serverPort + #request.contextPath + '/html'}]]')
                                            </script>
                                        </td>

                                    </tr>
                                </table>
                            </div>

                            <br/>

                            <h5>Formula Applied : <span th:text="${result.formulaName == null ? '' : result.formulaName}" ></span></h5>

                            <table border="0">
                                <tr>
                                    <td th:id="${'fx_'+stat.count}">
                                        <script>
                                            load("[[${'#fx_'+stat.count}]]", {'formula': '[[${result.fx}]]'}, '[[${#request.scheme + '://' + #request.serverName + ':' + #request.serverPort + #request.contextPath + '/diff'}]]')
                                        </script>
                                    </td>
                                    <td>=</td>
                                    <td th:id="${'dFx_'+stat.count}">
                                        <script>
                                            load("[[${'#dFx_'+stat.count}]]", {'formula': '[[${result.dFx}]]'}, '[[${#request.scheme + '://' + #request.serverName + ':' + #request.serverPort + #request.contextPath + '/html'}]]')
                                        </script>
                                    </td>
                                </tr>

                            </table>

                            <br th:if="${!result.derive.isEmpty()}"/>

                            <h5 th:if="${!result.derive.isEmpty()}">Explanation</h5>
                            <table th:if="${!result.derive.isEmpty()}">
                                <tr th:each="d, estat: ${result.derive}">
                                    <td th:id="${'left_'+stat.count+'_'+estat.count}">
                                        <script>
                                            load("[[${'#left_'+stat.count+'_'+estat.count}]]", {'formula': '[[${d.left}]]'}, '[[${#request.scheme + '://' + #request.serverName + ':' + #request.serverPort + #request.contextPath + '/html'}]]')
                                        </script>
                                    </td>
                                    <td>=</td>
                                    <td th:id="${'right_'+stat.count+'_'+estat.count}">
                                        <script>
                                            load("[[${'#right_'+stat.count+'_'+estat.count}]]", {'formula': '[[${d.right}]]'}, '[[${#request.scheme + '://' + #request.serverName + ':' + #request.serverPort + #request.contextPath + '/html'}]]')
                                        </script>
                                    </td>
                                    <td>
                                        <div th:text="${d.desc}">
                                        </div>
                                    </td>
                                </tr>
                            </table>

                            <br/>

                            <h5>Current Step: </h5>
                            <span   th:id="${'curr_'+stat.count}">
                                <script>
                                    load("[[${'#curr_'+stat.count}]]", {'formula': '[[${result.operand}]]'}, '[[${#request.scheme + '://' + #request.serverName + ':' + #request.serverPort + #request.contextPath + '/html'}]]')
                                </script>
                            </span>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <span  th:id="${'result_'+stat.count}">
                <script>
                    load("[[${'#result_'+stat.count}]]", {'formula': '[[${result.operand}]]'}, '[[${#request.scheme + '://' + #request.serverName + ':' + #request.serverPort + #request.contextPath + '/html'}]]')
                </script>
            </span>
        </td>

    </tr>

 </table>
<h5  th:if="${!results.isEmpty()}">
    Simplification
</h5>
<div  th:if="${!results.isEmpty()}" id="simplify">
    <script>
        if(!!'[[${formula}]]') {
            load("#simplify", {'formula': '[[${results[results.size-1].operand}]]'}, "[[${#request.scheme + '://' + #request.serverName + ':' + #request.serverPort + #request.contextPath + '/simple'}]]")
        }
    </script>
</div>
<div  th:if="${results.isEmpty()}" style="color: red">
    <center>ERROR OCCURED</center>
</div>
