<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <!-- Popper -->
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <script th:src="@{js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{js/bootstrap-autocomplete.min.js}"></script>
    <script src="extensions/resizable/bootstrap-table-resizable.js"></script>
    <script th:src="@{js/common.js}" data-url="diffFuncHtml"></script>
    <link rel="stylesheet" th:href="@{css/common.css}">
    <title>Differentiation Page</title>
</head>
<body>
    <table width="100%">
        <tr>
            <td class="input-group input-group-lg has-error has-feedback nm">
                <div class="input-group-prepend">
                    <table>
                        <tr>
                            <td>y</td>
                            <td><sub>1</sub></td>
                        </tr>
                    </table>
                </div>
                <input type="text" tabindex="1"
                       class="form-control basicAutoComplete cfc" th:id="formula1" th:name="formula1"
                       placeholder="Enter Formula to Differentiate"
                       aria-label="Large" th:value="${formula1}"
                       onkeyup="onChange(event)" autocomplete="on"
                >
            </td>
            <td width="100px">
                <button class="btn btn-primary btn-lg" type="button" data-toggle="modal" data-target="#help" style="width: 100%">Help</button>

            </td>
        </tr>
        <tr>
            <td class="input-group input-group-lg has-error has-feedback nm">
                <div class="input-group-prepend">
                    <table>
                        <tr>
                            <td>y</td>
                            <td><sub>2</sub></td>
                        </tr>
                    </table>
                </div>
                <input type="text" tabindex="2"
                       class="form-control basicAutoComplete cfc" th:id="formula2" th:name="formula2"
                       placeholder="Enter Formula to Differentiate"
                       aria-label="Large" th:value="${formula2}"
                       onkeyup="onChange(event)" autocomplete="on"
                >
            </td>
            <td>
                <button disabled class="btn btn-primary btn-lg" type="button" id="generate" onclick="generate('#table')">Differentiate</button>

            </td>
        </tr>
    </table>

    <div class="alert alert-success alert-dismissible fade show" id="success">
        <strong>Success!</strong> Your expression parsed successfully.
    </div>
    <div class="alert alert-danger alert-dismissible fade show" id="error">
        <strong>Error!</strong> A problem has been occurred while parsing expression.
    </div>


<div id="table">
    <script>
        if(!!'[[${formula}]]') {
            load("#table", {'formula1': $('#formula1').val(), 'formula2': $('#formula2').val()}, url, true, onSuccess, onError)
        }
    </script>
</div>

<div class="modal fade" id="help">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Help
                </h5>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Insert arithmetic expression in text box.
                    Instant validation will happen and shows the result just below
                    of the text box.
                </p>
                <p>
                    Expression could contain only x as variable.
                    Only a as symbolic constant.
                    Expression also contain integer(like 1234) and real(1234.567) as number
                </p>
                <p>
                    Expression can contain basic operators like +(plus), -(minus), *(multiply) and /(divide).
                    It can also contain ^(power) operator
                </p>
                <p>
                    Trigonometric functions like sin(), cos(), tan(), cot(), sec(), cosec() also can be
                    used here.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

</body>
</html>