<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <script th:src="@{js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{js/bootstrap-autocomplete.min.js}"></script>
    <script>
        var url = "[[@{${#request.scheme}+'://'+${#request.serverName}+':'+${#request.serverPort}+${#request.contextPath}+'/diffHtml'}]]"
        var lastResponse = {}
        var responses = {}
        var successes = []
        function load(elem, json, url, lateInit = false, succCallBack, errCallBack) {
            if(!lastResponse[url+JSON.stringify(json)]) {
                $(document).ready(function() {
                    $.post(url,
                                json,
                                function (response, status) {


                                }
                        )
                        .done(function(response) {
                            lastResponse[url+JSON.stringify(json)] = response
                            responses[elem] = response
                            if(!lateInit) {
                                $(elem).html(response)
                            } else {
                                successes.push(json.formula)
                            }
                            if(!!succCallBack) {
                                succCallBack()
                            }
                        })
                        .fail(function() {
                            if(!!errCallBack) {
                                errCallBack()
                            }
                        })
                })
            } else {
                if(!lateInit) {
                    $(elem).html(lastResponse[url+JSON.stringify(json)])
                } else {
                    successes.push(json.formula)
                }
                responses[elem] = lastResponse[url+JSON.stringify(json)]
                if(!!succCallBack) {
                    succCallBack()
                }
            }
        }

        function loadHtml(elem, html) {
            $(document).ready(function() {
                $(elem).html(html);
            })
        }

        function onChange(e) {
            onReset()
            $(document).ready(function() {
                load("#table", {'formula': $('#formula').val()}, url, true, onSuccess, onError)
            })
        }

        function generate(elem) {
            onReset()
            $(elem).html(responses[elem])
            $("#generate").attr("disabled", "disabled")
        }

        function onError() {
            $("#success").hide()
            $("#error").show()
            $("#generate").attr("disabled", "disabled")
        }

        function onReset() {
            $("#success").hide()
            $("#error").hide()
        }

        function onSuccess() {
            if(responses["#table"].indexOf("ERROR")>=0) {
                onError()
            } else {
                $("#success").show()
                $("#error").hide()
                $("#generate").removeAttr("disabled")

            }
        }

        $(document).ready(function() {
            onReset()

        })
    </script>
    <title>Differentiation Page</title>
</head>
<body>

    <div class="input-group input-group-lg has-error has-feedback nm">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
                <table>
                    <tr>
                        <td style="vertical-align: middle;padding: 0;margin: 0;">d</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle;padding: 0;margin: 0;"><hr style="height: 2px; padding: 0;margin: 0; color: black;"/></td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle;padding: 0;margin: 0;">dx</td>
                    </tr>
                </table>
            </span>
        </div>
        <textarea type="text"
               class="form-control basicAutoComplete cfc" th:id="formula" th:name="formula"
               th:value="${formula}" placeholder="Enter Formula to Differentiate"
               aria-label="Large"
               onkeyup="onChange(event)" autocomplete="on"
        ></textarea>
        <div class="input-group-append">
            <button disabled class="btn btn-primary" type="button" id="generate" onclick="generate('#table')">Differentiate</button>
        </div>
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" onclick="generate('#table')" data-toggle="modal" data-target="#help">Help</button>
        </div>
    </div>
    <div class="alert alert-success alert-dismissible fade show" id="success">
        <strong>Success!</strong> Your expression parsed successfully.
    </div>
    <div class="alert alert-danger alert-dismissible fade show" id="error">
        <strong>Error!</strong> A problem has been occurred while parsing expression.
    </div>


<div id="table">
    <script>
        if(!!'[[${formula}]]') {
            load("#table", {'formula': '[[${formula}]]'}, "[[${#request.scheme + '://' + #request.serverName + ':' + #request.serverPort + #request.contextPath + '/diffHtml'}]]")
        }
    </script>
</div>

<div class="modal fade" id="help">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Help
                </h5>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Insert arithmetic expression in text box.
                    Instant validation will happen and shows the result just below
                    of the text box.
                </p>
                <p>
                    Expression could contain only x as variable.
                    Only a as symbolic constant.
                    Expression also contain integer(like 1234) and real(1234.567) as number
                </p>
                <p>
                    Expression can contain basic operators like +(plus), -(minus), *(multiply) and /(divide).
                    It can also contain ^(power) operator
                </p>
                <p>
                    Trigonometric functions like sin(), cos(), tan(), cot(), sec(), cosec() also can be
                    used here.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

</body>
</html>