<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <script th:src="@{js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{js/bootstrap-autocomplete.min.js}"></script>
    <script src="extensions/resizable/bootstrap-table-resizable.js"></script>
    <script th:src="@{js/common.js}" data-url="html" data-autoload="true"></script>
    <link rel="stylesheet" th:href="@{css/common.css}">
    <title>Differentiation Page</title>
</head>
<body>

    <div class="input-group input-group-lg has-error has-feedback nm">
        <textarea type="text" tabindex="1"
               class="form-control basicAutoComplete cfc" th:id="formula" th:name="formula"
               placeholder="Enter Formula to Differentiate"
               aria-label="Large"
               onkeyup="onChange(event)" autocomplete="on"
        >[[${formula}]]</textarea>
    </div>
    <div class="alert alert-success alert-dismissible fade show" id="success">
        <strong>Success!</strong> Your expression parsed successfully.
    </div>
    <div class="alert alert-danger alert-dismissible fade show" id="error">
        <strong>Error!</strong> A problem has been occurred while parsing expression.
    </div>


<div id="table">
    <script>
        if(!!'[[${formula}]]') {
            load("#table", {'formula': '[[${formula}]]'}, "[[${#request.scheme + '://' + #request.serverName + ':' + #request.serverPort + #request.contextPath + '/html'}]]")
        }
    </script>
</div>

</body>
</html>