<table th:if="${!results.isEmpty()}" border="0">
    <tr>
        <td id="diff_formula" colspan="2">
            <script>
                load("#diff_formula", {'formula': '[[${formula}]]'}, '[[${#request.scheme + '://' + #request.serverName + ':' + #request.serverPort + #request.contextPath + '/html'}]]')
            </script>
        </td>
    </tr>
    <tr th:each="result, stat :${results}">
        <td>
            <button class="btn btn-secondary" data-toggle="modal" th:onclick="modal[[${stat.count}]]()">Step details
                <script>
                    function modal[[${stat.count}]]() {
                        $('[[${'#modal_'+stat.count}]]').modal('toggle')
                    }
                </script>
            </button>
            <div class="modal fade" th:id="${'modal_'+stat.count}">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">
                                Step Details
                            </h4>
                            <button type="button" class="close" data-dismiss="modal">
                                &times;
                            </button>
                        </div>
                        <div class="modal-body">
                            <h5>Previous Step : </h5>
                            <div th:if="${stat.index == 0}" th:id="${'prevStep_'+stat.count}">
                                <script>
                                    load("[[${'#prevStep_'+stat.count}]]", {'formula': '[[${formula}]]'}, '[[${#request.scheme + '://' + #request.serverName + ':' + #request.serverPort + #request.contextPath + '/html'}]]')
                                </script>
                            </div>
                            <span  th:if="${stat.index > 0}" th:id="${'prevStep_'+stat.count}">
                                 <script>
                                    load("[[${'#prevStep_'+stat.count}]]", {'formula': '[[${results.get(stat.index-1).operand}]]'}, '[[${#request.scheme + '://' + #request.serverName + ':' + #request.serverPort + #request.contextPath + '/html'}]]')
                                </script>
                            </span>

                            <br/>

                            <h5>Formula Applied : </h5>

                            <div th:text="${result.formulaName == null ? '' : result.formulaName}" ></div>

                            <br/>

                            <h5>Current Step: </h5>
                            <span   th:id="${'curr_'+stat.count}">
                                <script>
                                    load("[[${'#curr_'+stat.count}]]", {'formula': '[[${result.operand}]]'}, '[[${#request.scheme + '://' + #request.serverName + ':' + #request.serverPort + #request.contextPath + '/html'}]]')
                                </script>
                            </span>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <span  th:id="${'result_'+stat.count}">
                <script>
                    load("[[${'#result_'+stat.count}]]", {'formula': '[[${result.operand}]]'}, '[[${#request.scheme + '://' + #request.serverName + ':' + #request.serverPort + #request.contextPath + '/html'}]]')
                </script>
            </span>
        </td>

    </tr>

 </table>
<div  th:if="${results.isEmpty()}" style="color: red">
    <center>ERROR OCCURED</center>
</div>
