<table th:if="${!results.isEmpty()}" border="0" width="100%">
    <tr>
        <td id="sim_formula" colspan="2">
            <script>
                load("#sim_formula", {'formula': '[[${formula}]]'}, '[[${#request.scheme + '://' + #request.serverName + ':' + #request.serverPort + #request.contextPath + '/html'}]]')
            </script>
        </td>
    </tr>
    <tr th:each="result, stat :${results}">
        <td width="120px">
            <button class="btn btn-secondary" data-toggle="modal" th:onclick="sim_modal[[${stat.count}]]()">Step details
                <script>
                    function sim_modal[[${stat.count}]]() {
                        $('[[${'#sim_modal_'+stat.count}]]').modal('toggle')
                    }
                </script>
            </button>
            <div class="modal fade" th:id="${'sim_modal_'+stat.count}">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">
                                Step Details
                            </h4>
                            <button type="button" class="close" data-dismiss="modal">
                                &times;
                            </button>
                        </div>
                        <div class="modal-body">
                            <h5>Previous Step : </h5>
                            <div th:if="${stat.index == 0}" th:id="${'sim_prevStep_'+stat.count}">
                                <script>
                                    load("[[${'#sim_prevStep_'+stat.count}]]", {'formula': '[[${formula}]]'}, '[[${#request.scheme + '://' + #request.serverName + ':' + #request.serverPort + #request.contextPath + '/html'}]]')
                                </script>
                            </div>
                            <span  th:if="${stat.index > 0}" th:id="${'sim_prevStep_'+stat.count}">
                                <div th:replace="operands/MainRouter.html :: route(operand=${results.get(stat.index-1).operand}, root=true)"
                                     th:remove="tag">

                                </div><!--
                                 <script>
                                    load("[[${'#sim_prevStep_'+stat.count}]]", {'formula': '[[${results.get(stat.index-1).operand}]]'}, '[[${#request.scheme + '://' + #request.serverName + ':' + #request.serverPort + #request.contextPath + '/html'}]]')
                                </script>-->
                            </span>

                            <br/>

                            <h5>Formula Applied : </h5>

                            <div th:text="${result.formulaName == null ? '' : result.formulaName}" ></div>

                            <table border="0">
                                <tr>
                                    <td th:id="${'sim_fx_'+stat.count}">
                                        <div th:replace="operands/MainRouter.html :: route(operand=${result.fx}, root=true)"
                                             th:remove="tag">

                                        </div>
                                        <!--<script>
                                            load("[[${'#sim_fx_'+stat.count}]]", {'formula': '[[${result.fx}]]'}, '[[${#request.scheme + '://' + #request.serverName + ':' + #request.serverPort + #request.contextPath + '/html'}]]')
                                        </script>-->
                                    </td>
                                    <td>=</td>
                                    <td th:id="${'sim_dFx_'+stat.count}">
                                        <div th:replace="operands/MainRouter.html :: route(operand=${result.dFx}, root=true)"
                                             th:remove="tag">

                                        </div><!--
                                        <script>
                                            load("[[${'#sim_dFx_'+stat.count}]]", {'formula': '[[${result.dFx}]]'}, '[[${#request.scheme + '://' + #request.serverName + ':' + #request.serverPort + #request.contextPath + '/html'}]]')
                                        </script>-->
                                    </td>
                                </tr>

                            </table>

                            <br/>

                            <h5>Current Step: </h5>
                            <span   th:id="${'sim_curr_'+stat.count}">
                                <div th:replace="operands/MainRouter.html :: route(operand=${result.operand}, root=true)"
                                     th:remove="tag">

                                </div><!--
                                <script>
                                    load("[[${'#sim_curr_'+stat.count}]]", {'formula': '[[${result.operand}]]'}, '[[${#request.scheme + '://' + #request.serverName + ':' + #request.serverPort + #request.contextPath + '/html'}]]')
                                </script>-->
                            </span>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <span  th:id="${'sim_result_'+stat.count}">
                <div th:replace="operands/MainRouter.html :: route(operand=${result.operand}, root=true)"
                     th:remove="tag">

                </div><!--
                <script>
                    load("[[${'#sim_result_'+stat.count}]]", {'formula': '[[${result.operand}]]'}, '[[${#request.scheme + '://' + #request.serverName + ':' + #request.serverPort + #request.contextPath + '/html'}]]')
                </script>-->
            </span>
        </td>


    </tr>
    <tr th:if="${additionalButtons}">
        <td colspan="2">

            <form th:action="@{/differentiate(formula=${results[results.size-1].operand})}" method="post">
                <button class="btn btn-secondary" type="submit">
                    Differentiate
                </button>
            </form>
        </td>

    </tr>
    <tr>
        <td colspan="2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">x = </span>
                </div>
                <div>
                    <input
                            class="form-control" type="number" name="value"
                            id="value" placeholder="Value of x"
                            pattern="[0-9]+\.?|[0-9]+\.[0-9]+|\.?[0-9]+"
                            onkeyup="loadValue()"
                            required>
                </div>
                <div class="input-group-append">
                    <span class="input-group-text" id="output" style="width:200px">Enter Value</span>
                </div>
            </div>
            <script>
                function loadValue() {
                    if(isNumber($('#value').val())) {
                        load("#output", {'formula': '[[${results[results.size-1].operand}]]', 'x': getNumber($('#value').val())}, '[[${#request.scheme + '://' + #request.serverName + ':' + #request.serverPort + #request.contextPath + '/eval'}]]')
                    }
                }

                function isNumber(str) {
                  if (typeof str != "string") return false // we only process strings!
                  return !isNaN(str) && // use type coercion to parse the _entirety_ of the string (`parseFloat` alone does not do this)...
                         !isNaN(parseFloat(str)) // ...and ensure strings of whitespace fail
                }

                function getNumber(str) {
                    return parseFloat(str)
                }
            </script>
        </td>

    </tr>

 </table>

<div  th:if="${results.isEmpty()}" style="color: blue">
    Already Simplified
</div>
